<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Cubing师大抽奖系统</title>
    <link rel="stylesheet" href="./css/bulma.min.css">
    <link rel="stylesheet" href="./css/fontawesome.min.css">
    <link rel="stylesheet" href="./css/app.css">
</head>
<body>
<div id="app" v-cloak>
    <section>
        <header id="heading" class="level is-mobile">
            <div class="level-item">
                <!-- logo -->
                <figure v-show="settings.logo_show" class="image" style="margin-right:10px;" @click="toggle_settings">
                    <img :src="settings.logo_path":style="{maxHeight:'46px'}">
                </figure>
                <!-- 标题 -->
                <p id="page-title" class="title is-3 is-4-mobile is-spaced"
                   @click="toggle_settings">{{ settings.page_title }}</p>
            </div>
        </header>

        <!-- 设置窗口 -->
        <div class="modal" :class="{'is-active': settings.visible}">
            <div class="modal-background"></div>
            <div class="modal-card">
                <header class="modal-card-head">
                    <p class="modal-card-title">设置</p>
                    <button class="delete" aria-label="close"
                            @click="toggle_settings"></button>
                </header>

                <!-- 页面标题 -->
                <section class="modal-card-body">
                    <div class="field is-horizontal">
                        <div class="field-label is-normal">
                            <label class="label" for="setting-page-title">页面标题</label>
                        </div>
                        <div class="field-body">
                            <div class="field">
                                <p class="control">
                                    <input id="setting-page-title" class="input" type="text"
                                           v-model="settings.form.page_title">
                                </p>
                            </div>
                        </div>
                    </div>
                </section>

                <!-- 设置 logo -->
                <section class="modal-card-body">
                    <div class="field is-horizontal">
                        <div class="field-label is-normal">
                            <label class="label">Logo</label>
                        </div>
                        <div class="field-body">
                            <div class="field">
                                <!-- tab 分栏 -->
                                <div class="tabs is-fullwidth">
                                    <ul>
                                        <li :class='{"is-active":settings.form.logo_tab=="upload"}'
                                            @click="_switch_settings_logo_tab('upload')"><a>上传</a></li>
                                        <li :class='{"is-active":settings.form.logo_tab=="link"}'
                                            @click="_switch_settings_logo_tab('link')"><a>链接</a></li>
                                        <li :class='{"is-active":settings.form.logo_tab=="hidden"}'
                                            @click="_switch_settings_logo_tab('hidden')"><a>隐藏</a></li>
                                    </ul>
                                </div>
                                <!-- 链接 -->
                                <p class="control" v-show='settings.form.logo_tab=="link"'>
                                    <input id="setting-page-title" class="input" type="text" placeholder="输入 logo 图片地址"
                                     v-model="settings.form.url_logo_path">
                                </p>
                                <!-- 上传 -->
                                <div class="file is-normal is-boxed" v-show='settings.form.logo_tab=="upload"'>
                                    <label class="file-label">
                                        <input id="setting-page-logo" class="file-input" type="file" name="logo" @change="upload_logo">
                                        <figure class="image">
                                            <img :src="settings.form.upload_logo_path" style="width:100%; max-height:240px;">
                                        </figure>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <!-- 设置滚动时间间隔 -->
                <section class="modal-card-body">
                    <div class="field is-horizontal">
                        <div class="field-label is-normal">
                            <label class="label" for="setting-page-title">滚动时间间隔<br><span style="font-size:14px;">（单位：ms）</span></label>
                        </div>
                        <div class="field-body">
                            <div class="field">
                                <p class="control">
                                    <input id="setting-page-title" class="input" type="text" placeholder="填写时间间隔，单位毫秒"
                                        v-model="settings.form.rolling_interval">
                                </p>
                            </div>
                        </div>
                    </div>
                </section>

                <footer class="modal-card-foot">
                    <button class="button" @click="toggle_settings">取消</button>
                    <button class="button is-success" @click="save_settings">保存</button>
                </footer>
            </div>
        </div>
    </section>

    <section>
        <div class="container is-fluid">
            <div class="columns">
                <div class="column is-3-tablet is-2-desktop is-offset-1-desktop">
                    <div class="tile is-ancestor">
                        <div class="tile is-vertical">
                            <!-- 参与列表 -->
                            <div id="player_list" class="tile is-parent is-vertical">
                                <!-- 标题 -->
                                <div class="tile is-child">
                                    <p class="subtitle has-text-centered">
                                        <span @click="textarea.value == '' ? textarea.value = textarea.placeholder : ''">参与列表</span>
                                    </p>
                                </div>
                                <!-- 输入框 -->
                                <div class="tile is-child">
                                    <div class="field">
                                        <div class="control">
                                        <textarea class="textarea is-small is-primary"
                                                  v-model="textarea.value"
                                                  :disabled="rolling.started"
                                                  :placeholder="textarea.placeholder"
                                                  rows="9"></textarea>
                                        </div>
                                        <p class="help has-text-centered">一行输入一个选项</p>
                                    </div>
                                </div>
                            </div>
                            <!-- 快捷填充 -->
                            <div class="tile is-parent">
                                <div class="tile is-child">
                                    <p class="subtitle has-text-centered">快捷填充</p>
                                    <div class="field has-addons">
                                        <p class="control is-expanded">
                                            <input class="input is-small" type="text"
                                                   placeholder="1"
                                                   v-model.number="filling.start"
                                                   :disabled="rolling.started">
                                        </p>
                                        <p class="control">
                                            <a class="button is-small is-static"> ~ </a>
                                        </p>
                                        <p class="control is-expanded">
                                            <input class="input is-small" type="text"
                                                   placeholder="20"
                                                   v-model.number="filling.end"
                                                   :disabled="rolling.started">
                                        </p>
                                    </div>
                                    <div class="field">
                                        <button class="button is-small is-primary is-outlined is-fullwidth"
                                                :class="{'is-loading':filling.status}"
                                                :disabled="rolling.started"
                                                @click="fill">
                                            <span class="">
                                                开始填充
                                            </span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column is-6-tablet is-6-desktop">
                    <div class="tile is-ancestor">
                        <div class="tile is-vertical">
                            <!-- 标题 -->
                            <div class="tile is-parent">
                                <div class="tile is-child">
                                    <p class="subtitle has-text-centered">抽奖滚动栏
                                    </p>
                                </div>
                            </div>
                            <!-- 滚动框 -->
                            <div class="tile is-parent">
                                <div class="tile is-child">
                                    <div class="card has-background-light">
                                        <div id="roll-container" class="card-content">
                                            <p class="title is-1 has-text-dark has-text-centered">
                                                <span>{{ rolling.content }}</span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- 抽奖按钮 -->
                            <div class="tile is-parent">
                                <div class="tile is-child">
                                    <button class="button is-fullwidth"
                                            :class="{'is-primary':!rolling.status,'is-danger':rolling.status}"
                                            @keypress.Enter="toggle_rolling"
                                            @click="toggle_rolling">
                                        <strong>{{ rolling.btn_msg }}</strong>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column is-3-tablet is-2-desktop">
                    <div class="tile is-ancestor">
                        <div class="tile is-vertical">
                            <!-- 标题 -->
                            <div class="tile is-parent">
                                <div class="tile is-child">
                                    <p class="subtitle has-text-centered">幸运儿</p>
                                </div>
                            </div>
                            <!-- 中奖名单 -->
                            <div class="tile is-parent">
                                <div class="tile is-child">
                                    <table class="table is-narrow is-hoverable is-fullwidth">
                                        <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>中奖名单</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr v-for="(winner, index) in winners" :key="index">
                                            <td>{{ index + 1 }}</td>
                                            <td>{{ winner }}</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <!-- Restart -->
                            <div class="tile is-parent">
                                <div class="tile is-child">
                                    <div class="field has-text-centered">
                                        <button class="button is-small is-danger is-outlined"
                                                @click="restart">
                                                <span>重新开始</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<script src="./js/vue.min.js"></script>
<script src="./js/fontawesome.min.js"></script>
<script src="./js/app.js"></script>
</body>
</html>
